body{
    background-color: blueviolet;
}

img{
    width: 200px;
}

/*nav{
    margin-left: 200px;
} */

.batas{
    margin-left: 200px;
}

.warna {
    background-color: deeppink;
}

#bekgron{
    background-color: brown;
}